---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Home from "@/pics/homeicon.webp";
import Logo from "@/pics/logosmo.webp";
import Whiteframe from "@/pics/whiteframe.webp";
import Yellowframe from "@/pics/yellowlongframe.webp";

---
<Layout>
    <div class="h-30 "></div>
    <div class="">
        <Image src={Logo} alt="" class="w-55">
    </div>

    <div class="flex justify-end mt-[-47px]" >
        <Image src={Home} alt="" class="w-10"/>   
    </div>

    <hr class="border-t-1.8 border-black my-8" />

    <div class="text-left">
        <p class="font-bold font-noto mb-6 text-[20px]">นโยบายพรรคเพื่อแมวเลีย</p>
        <p class="font-light font-noto text-[14px]">นโยบายที่ 1 อาหารแมวฟรี วันละ 3 มื้อ 🍗</p>
        <ul class="font-noto list-disc pl-5 text-[14px] font-light text-black marker:text-black">
            <li>แจกอาหารแมวคุณภาพพรีเมียมให้ทุกแมวในโรงเรียน</li>
            <li>มีเมนูให้เลือกทั้งปลาทูน่า แซลมอน และอาหารเม็ดเกรด</li>
            <li>เสริมวิตามินบำรุงขนให้นุ่มฟูทุกตัว</li>
        </ul>
        

        <div class="h-6"></div>

        <p class="font-light font-noto text-[14px]">นโยบายที่ 2 ที่นอนแมวต้องพรีเมียม! 🛏️</p>
        <ul class="font-noto list-disc pl-5 text-[14px] font-light text-black marker:text-black">
            <li>เปลี่ยนพื้นที่นั่งเล่นเป็นโซน "ที่นอนแมวสุดหรู" พร้อมเบาะนุ่ม</li>
            <li>เพิ่มพื้นที่บนโต๊ะ ชั้นวางของ และกล่องลังเพื่อการปีนป่าย</li>
            <li>ห้องพักแมวเปิด 24 ชั่วโมง พร้อมอุณหภูมิที่เหมาะสม</li>
        </ul>   
    </div>

    <div class="h-10"></div>
    <div class="flex flex-col w-full h-100 rounded-t-2xl bg-[#FBC02B] items-center pt-15 px-0 ">
        <Image src={Yellowframe} alt="" class="w-full"/>
        <p class="font-bold font-noto text-sm text-black mb-4 text-[20px] relative top-[-1030px]">สมาชิกภายในพรรค</p>
        
        <div class="flex justify-end mt-[-1050px]" >
            <Image src={Whiteframe} alt="" class="scale-75"/>
        </div>
        <div class="flex flex-row bg-pink-200 w-full h-auto">
            <div class ="flex-col">
                <h4>หมายเลข</h4>
                <h1>1</h1>
            </div>
            <div>

            </div>
            <a href=""></a>
        </div>

    


    </div>




</Layout>
