<div class="bg-yellow min-h-screen flex items-center justify-center font-noto">
    <div class="bg-white rounded-2xl shadow-xl p-6 w-[350px]">
      <div class="mb-4 space-y-1 text-base text-dgray">
        <div class="flex justify-between">
          <span>รหัสนิสิต</span>
          <span>6632999923</span>
        </div>
        <div class="flex justify-between">
          <span>ชื่อ</span>
          <span>Bunyawat</span>
        </div>
        <div class="flex justify-between">
          <span>นามสกุล</span>
          <span>Naunnak</span>
        </div>
      </div>
  
      <div class="border-b border-black my-8"></div>
  
      <h1 class="text-center font-bold text-black text-xl mb-4">ข้อกำหนดและเงื่อนไข</h1>
  
      <ul class="list-disc pl-5 text-sm text-gray-700 space-y-2">
        <li>ขณะนี้ท่านกำลังใช้งานเว็บไซต์และมองหน้าจอเพียงบุคคลเดียว โดยมิได้ถูกบังคับ ข่มเหงหรือชักจูงจากใครในการลงคะแนนเสียงเลือกตั้ง</li>
        <li>ข้อมูลส่วนบุคคลของท่านถูกต้องทั้งหมด</li>
        <li>ท่านมีเวลาทั้งสิ้น 30 นาที ในการเข้าสู่ระบบเพื่อทำการลงคะแนนเสียง จนเสร็จสิ้น</li>
        <li>ท่านยอมรับคะแนนเสียงที่โหวตผ่านเว็บไซต์ เลือกตั้ง คณะวิทยาศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย ให้ถือเป็นที่สิ้นสุด</li>
      </ul>
  
      <div class="mt-12 flex justify-center">
        <button class="bg-yellow hover:bg-yellow-500 transition text-black text-sm font-semibold py-2 px-4 rounded-xl shadow-md">
          ยอมรับข้อกำหนดและเงื่อนไข
        </button>
      </div>
    </div>
  </div>
  