---
import Layout from "@/layouts/Layout.astro"
import { Image } from "astro:assets";
import SmoLogo from "@/pics/main/SmoElectionLogo.webp"
import Home from "@/pics/party/homeIcon.webp"
---

<Layout>
    <div class="h-30 "></div>
    <div class="">
        <Image src={SmoLogo} alt="" class="w-60">
        <Image src={Home} alt="" class="w-20">
    </div>
</Layout>