---
const policies = Object.values(import.meta.glob("../contents/policies/*.md", { eager: true }));
---

<div class="max-w-6xl mx-auto p-6 space-y-8 bg-white rounded-lg shadow-lg">
  <section>
    <h2 class="text-2xl font-semibold text-gray-800 text-center">
      Policy List Archive:
    </h2>
    <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        policies.map((post: any) => (
          <div class="p-6 bg-gray-100 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300">
            <a
              href={post.url}
              class="block text-xl font-semibold text-blue-600 hover:underline"
            >
              {post.frontmatter.title}
            </a>
            <p class="mt-2 text-sm text-gray-500">
              By: {post.frontmatter.author}
            </p>
            <p class="mt-2 text-sm text-gray-500">
              Published on: {post.frontmatter.date}
            </p>
          </div>
        ))
      }
    </div>
  </section>
</div>
