---
import "../styles/global.css";
import "../styles/fonts.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>SMO68 election</title>
  </head>

  <body class="max-w-md mx-auto border-2">
    <slot />
  </body>
</html>
